body {
  font-family: 'Calibre Regular', sans-serif;
  font-size: 16px;
  line-height: 1.236842105263158;
  background: #f5f5f5;
  color: #4c4c4c;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 360px) {
  body {
    font-size: 19px;
  }
}

a {
  color: #2800ff;
  transition: color 0.25s;
}

a:hover {
  color: #fa6efe;
}

img {
  width: 100%;
  height: auto;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container,
.site-footer-container,
.site-nav-menu-footer-container {
  padding: 0 4.6%;
}

.site-header,
.page,
.site-footer,
.site-nav-menu-footer {
  width: 100%;
  max-width: 1080px;
}

.site-header {
  margin: 0 auto;
  padding: 0 4.6%;
}

.page {
  margin: 96px auto 0 auto;
  padding: 1.236842105263158em 0;
}

@media only screen and (min-width: 720px) {
  .page {
    padding: 2.473684210526316em 0;
  }
}
.site-footer,
.site-nav-menu-footer {
  margin: 1.236842105263158em auto;
}

.site-header-container,
.site-footer-container {
  background: #fa6efe;
}

.site-header-container,
.site-footer-container,
.site-nav-menu-footer {
  color: #fff;
}

.site-header-container a,
.site-footer-container a,
.site-nav-menu-footer a {
  color: #fff;
  text-decoration: none;
}

.site-header-container a:hover,
.site-footer-container a:hover,
.site-nav-menu-footer a:hover {
  text-decoration: underline;
}

.site-logo {
  margin: 20px 4.6%;
  transition: transform 0.25s cubic-bezier(0.69, -0.5, 0.27, 1.5);
}

.site-logo:hover{
  transform: scale(1.125);
}

.site-footer-container,
.site-nav-menu-footer-container {
  margin-top: auto;
}

.footer-title {
  font-size: 1em;
  margin: 0 0 1em 0;
}

.footer-contact {
  display: flex;
  margin: 0 -1.15%;
  flex-direction: row;
  font-size: 0.875em;
}

.footer-address,
.footer-social {
  flex: 1;
  padding: 0 1.15%;
}

@media only screen and (min-width: 360px) {
  .footer-sections {
    display: flex;
    margin: 0 -1.15%;
  }
  
  .footer-contact {
    flex-direction: column;
  }

  .footer-contact {
    flex: 1;
    padding: 0 1.15%;
    margin: 0;
  }

  .footer-address {
    margin-bottom: 1.236842105263158em;
  }

  .footer-title {
    flex: 1;
    padding: 0 1.15%;
    margin-bottom: 1em;
  }
}


@media only screen and (min-width: 768px) {
  .footer-contact {
    padding: 0;
    flex-direction: row;
    font-size: 1em;

  }

  .footer-address {
    margin-bottom: 0;
  }
}

.footer-address {
  font-style: normal;
}

.footer-address > *:first-child,
.footer-social > *:first-child {
  margin-top: 0;
}

.footer-address > *:last-child,
.footer-social > *:last-child {
  margin-bottom: 0;
}


.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.index.page .page-sections {
  margin: 0;
}

.index.page .page-sections section {
  margin-bottom: 2.473684210526316em;
}

.index.page .section-header h3 {
  font-size: 1em;
}

@media print, screen and (min-width: 640px) {
  .index.page .section-header h3 {
    font-size: 1.17em;
  }

  .index.page .page-sections {
    display: flex;
    margin: 0 -1.15%;
    flex-wrap: wrap;
  }

  .index.page .page-sections section {
    flex: 1 0 40%;
    margin: 0;
    padding: 0 1.15%;
  }
  
}

@media only screen and (min-width: 720px) {
  .page-sections {
    display: flex;
    margin: 0 -1.15%;
  }
  
  .page-sections section {
    flex: 1;
    padding: 0 1.15%;
  }
}

@media only screen and (min-width: 1140px) {
  .index.page .page-sections {
    flex-wrap: nowrap;
  }
  .index.page .page-sections section {
    flex: 1;
  }
}

h3 {
  font-size: 1.368421052631579em;
  line-height: 0.9038461538461538;
}

.page-sections section h3 {
  margin-bottom: 0.7307692307692308em;
}

.page-sections section p:first-of-type {
  margin-top: 0;
}

.page-sections section .section-header a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.page-sections section .section-header a:hover {
  color: inherit;
  text-decoration: underline;
}

.site-nav {
  margin-left: auto;
}

.site-nav .nav-button.hamburger {
  transition: transform 0.25s cubic-bezier(0.69, -0.5, 0.27, 1.5);
}
.site-nav .nav-button.hamburger:hover {
  transform: scale(1.25);
}

.site-nav .nav-button.hamburger .hamburger-inner,
.site-nav .nav-button.hamburger .hamburger-inner::before,
.site-nav .nav-button.hamburger .hamburger-inner::after {
  background: #fff;
}

.site-nav .menu-item {
  padding: 1em;
  margin: 0 -1em;
  width: 100%;
  transition: padding 0.5s, border 0.5s, background-color 0.33s;
  border: 1px solid rgba(250, 110, 254, 0);
  box-sizing: content-box;
  font-weight: bold;
}

.site-nav .menu-item:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.125);
}

.site-nav .menu-item:focus {
  border: 1px solid #fff;
}

.menu-footer, .site-nav-menu-footer{
  display: none;
}

@media only screen and (min-height: 568px) {
  .site-nav-menu-open .site-nav-menu-footer {
    display: block;
  }
}

.site-nav-menu-open .menu-footer {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: block;
}

@keyframes animSiteNavFooter {
  from {transform: translateY(0); opacity: 0;}
  to {transform: translateY(-400px); opacity: 1;}
}

.site-nav-menu-open .site-nav-menu-footer-container {
  transform: translateY(400px);
  opacity: 1;
}

.site-nav-menu-open .site-nav-menu-footer-container .footer-sections {
  animation-name: animSiteNavFooter;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.footer-address p [x-ms-format-detection] {
  color: #fff !important;
}
.site-header-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.site-header {
  display: flex;
  align-items: center;
}

.site-logo,
.site-nav .nav-button {
  position: relative;
  z-index: 10000;
}

.page .info-box-container {
  background: lightblue;
  padding: 2.0526315789473699em 1.368421052631579em;
  box-sizing: content-box;
}

.info-box {
  font-size: 0.875em;
}

.page .page-sections section > *:first-child {
  margin-top: 0;
}

.page .info-box > *:first-child {
  margin-top: 0;
}

.page .info-box > *:last-child {
  margin-bottom: 0;
}

.page h2 {
  font-size: 2em;
}

.page h3 {
  font-size: 1em;
}

.page .info-box h3 {
  font-size: 1.575em;
}

.image-slider {
  background: grey;
  margin-bottom: 1.236842105263158em;
}

.image-slider.inactive {
  z-index: -1;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  z-index: 9;
  padding: 24px;
  box-sizing: content-box;
}

.slick-next {
  right: 0;
}

.image-slider .slick-prev svg,
.image-slider .slick-next svg {
  fill: #f5f5f5;
  transition: fill 0.25s, transform 0.25s cubic-bezier(0.69, -0.5, 0.27, 1.5);
  transform-origin: center;
}

.image-slider .slick-prev:hover svg ,
.image-slider .slick-next:hover svg {
  fill: #fa6efe;
  transform: scale(2);
}
.site-nav-menu-container .bm-overlay {
  background: #fa6efe !important;
  top: 0;
  left: 0;
  height: 100vh !important;
}

.site-nav-menu .bm-menu-wrap {
  height: 100vh;
  top: 0;
}

.site-nav-menu {
  overflow: hidden !important;
  width: 100%;
  margin: 0.618421052631579em auto 0 auto;
  position: relative;
}

.site-nav-menu-item-list {
  color: #b8b7ad;
  height: initial !important;
  margin: 0 auto;
}

@media only screen and (max-height: 720px) {
  .site-nav-menu .menu-item {
    padding: 0.5em 1em;
  }
}

.site-nav-menu-item-list {
  padding: 0 4.6%;
  max-width: 1080px;
}

@media only screen and (min-width: 640px) and (min-height: 520px) {
  .site-nav-menu {
    display: flex;
    align-items: center;
    padding: 96px 0;
    margin: 0 auto;
  }

  .site-nav-menu-item-list{
    margin-left: 50%;
    padding: 0 1.15%;
    margin-bottom: 12.36842105263158em;
  }

}

@media only screen and (min-width: 720px) and (min-height: 720px) {
  .site-nav .menu-item {
    font-size: 1.25em;
    padding: 0.75em;
    margin: 0 -0.75em;
  }
}

@media only screen and (min-width: 960px) and (min-height: 960px) {
  .site-nav .menu-item {
    font-size: 2em;
    padding: 0.5em;
    margin: 0 -0.5em;
  }
}
